.div{
    width: 100px;
    height: 100px;
    background: lightblue;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.div:hover{
    width: 200px;
}
/* ********************************* */

.box1{
    width:200px;
    height: 200px;
    background-color: coral;
    margin: 10px 300px;
    transform:translate(70px,100px) ;
}
.box2{
    width: 150px;
    height: 150px;
    background-color:chartreuse;
    margin: 10px;
    transform: rotate(50deg);
}
.box3{
    width: 150px;
    height: 150px;
    background-color:deeppink;
    margin-left: 350px;
    transform: scale(1.5);
}
.box4{
    width:150px;
    height: 150px;
    background-color:orangered;
    margin: 10px;
    transform: skew(20deg);
}
/* ************************************** */

@keyframes translating {
    0% {
    transform: translate (0, 0);
    }
    25% {
    transform: translate (240px, 0);
    }
    50% {
    transform: translate (240px, 140px);
    }
    75% {
    transform: translate (0, 140px);
    }
    100% {
    transform: translate (0, 0);
    }
    }
    
    p {
    animation: translating 4s linear infinite;
    }

/* ************************************ */
div p {
     /* --> (div is the parent and the p is the child) */
    color: blue;
    font-family: 'Times New Roman';
    font-weight: bolder;
    font-size:x-large;
    }
    
/* ************************************ */
.container{
    display: grid;
    grid-template-columns: 200px 40px 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 5px;
    text-align:center;
    justify-content:left;
    }

    .item{
    background-color: aqua;
    border: 1px solid gray;
    }

    .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    }

    .item3 {
    grid-row-start: 2;
    grid-row-end: 4;
    }

    .item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    }
        
/* ********************************* */
        .card {
            text-align:left;
            height: 300px;
            background-image:url("https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/homepage/mastehead(web).svg");
            background-repeat: no-repeat;
            background-size: cover;
            }
            .btn{
            margin: 10px auto;
            width: 180px;
            background-color: bisque;
            height: 25px;
            border-radius: 13px;
            }
    